html,body{
  height:100%;
  min-height:100vh;
}
body{
  margin:0;
  padding:0;

  font-family:'Segoe UI',sans-serif;

  min-height:100vh;

  background-image:url("./currency_hero_banner.svg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  /* text-shadow:0 1px 3px rgba(0,0,0,0.7); */
}

/* Remove number arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance:none;
  margin:0;
}